@font-face {
    font-family: robotob;
    src: url(bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(rgl.ttf);
}
@font-face {
    font-family: robotoi;
    src: url(italic.ttf);
}
body{
    display: flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
}
ul{
    display:flex;
    list-style-type:none;
    padding:0;
    gap: 20px;
    margin:0;
}
a{
    text-decoration: none;
    color:#f9faf8;
}
button{
    margin-top:10px;
    color:#f9faf8;
    border-radius: 7px;
    background-color:#3882f6;
    padding:4px 20px;
}
.header{
    background-color: #1f2937;;
}
.headone{
    padding-top: 20px;
    margin-left: 168px;
    margin-right: 168px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.headtwo{
    margin-left: 168px;
    margin-right: 168px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px ;
}
.contentone{
    color:#f9faf8;
    flex-wrap: wrap;
    font-family: robotob;
    font-size:48px;
}
.contentones{
    color:#f9faf8;
    filter:contrast(75%);
    flex-wrap: wrap;
    font-family: roboto;
    font-size: 16px;
}
.Logo{
    font-family: robotob;
    font-size:24px;
    color:#f9faf8;
}
.imageone{
    min-width:100px;
    max-width:450px;
    height:auto;
}
.imagetwo{
    display:flex;
    width:150px;
    height:150px;
    max-width:200px;
    border: 6px solid #3882f6;
    border-radius: 15px;
}
.bodytext{
    font-family: robotob;
    font-size:32px;
    display:flex;
    justify-content: center;
    margin: 60px;
}
.piconetext{
    filter:contrast(15%);
    margin-top:20px;
}
.container{
    font-family: roboto;
    display:flex;
    gap: 120px;
    justify-content: center;
    margin-bottom: 120px;
}
.picone{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 150px;
}
.bodytwo{
    background-color: #e5e7eb;
    padding: 120px;
    padding-left: 300px;
    padding-right:300px;
    justify-content: center;
    align-items: center;
}
.quote{
    display:flex;
    font-family: robotoi;
    font-size: 40px;
}
.author{
    display:flex;
    flex-direction: row-reverse;
    font-family: robotob;
    font-size: 16px;
}
.bodythree{
    background-color: #3882f6;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 100px 300px;
    padding:70px;
    border-radius: 15px;
    gap: 400px;
}
.call{
    color: #f9faf8;
    font-family: robotob;
    font-size:120%;
}
.sign{
    color:#f9faf8;
    font-family: roboto;
    font-size:100%;
}
.sigma{
    color:#f9faf8;
    font-family: roboto;
    font-size:100%;
    border:2px solid #f9faf8;
}
.footer{
    display:flex;
    flex:1;
    justify-content: center;
    padding:30px;
    background-color: #1f2937;
    color:#f9faf8;
}